body {
  background-color: rgb(255, 115, 199);
}

h1 {
  text-align: center;
  color: white;

  font-size: 70px;
}

img {
  width: 10%;
}

.TT {
  padding-top: 25px;
  width: 60%;
}

.card_column {
  width: 33.33%;
  display: inline-block;
}

.card_row:after {
  content: "";
  display: table;
  clear: both;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: rgb(255, 167, 229);
  border-radius: 10px;
  padding: 5px;
}

.search-bar input {
  flex: 1;
  margin-right: 5px;
  border: none;
  padding: 5px;
  color: white;
  background-color: transparent;
}

.search-bar button {
  font-size: 25px;
  padding: 0;
  border: none;
  background: none;
  color: white;
}

.glass {
  display: inline-block;
}

.hearted {
  font-size: 25px;
  padding: 0;
  border: none;
  background: none;
}

.unhearted {
  font-size: 25px;
  padding: 0;
  border: none;
  background: none;
}

.mode {
  position: right;
}

.nav {
  position: center;
  font-family: Verdana;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  background: rgb(255, 167, 229);
}
