body {
  background-color: rgb(255, 115, 199);
}

h1 {
  text-align: center;
}

img {
  width: 50%;
}

.TT {
  padding-top: 25px;
  width: 60%;
}

.search-bar {
  flex: 1 1 auto;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 90%;
  font-size: 1rem;
  height: 2rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-left: 0.5rem;
}

.search-bar button {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.glass {
  display: inline-block;
}

.hearted {
  font-size: 25px;
  padding: 5px;
  border-radius: 100%;
  border: 2px rgb(255, 14, 199);
  background: none;
  cursor: pointer;
}

.unhearted {
  font-size: 20px;
  margin: 4px;
  border-radius: 100%;
  border: 2px rgb(255, 14, 199);
  cursor: pointer;
}

.mode {
  float: right;
  cursor: pointer;
}

.no {
  font-size: 20px;
  margin: 4px;
  border-radius: 50%;
  border: rgb(255, 14, 199);
  cursor: pointer;
}

.yes {
  font-size: 24px;
  margin: 4px;
  border-radius: 50%;
  border: rgb(255, 14, 199);
  cursor: pointer;
}

.chat {
  font-size: 15px;
  color: white;
  background-color: rgb(204, 0, 133);
  border: none;
  border-radius: 10px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 7px 0 #620840;
  border-radius: 20px;
  border: 3px solid #cd066d;
  width: 350px;
  height:420px;
  background-color: rgb(255, 201, 240);
  display:grid;
}

.name {
  color: white;
  padding-top: 10px;
  padding-bottom: 8px;
  font-size: 22px;
 
}

.city {
  color: white;
  padding-top: 5px;
  padding-bottom: 15px;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.interests {
  color: white;
  padding-top: 12px;
  padding-bottom: 10px;
}

.breakers {
  color: white;
  padding-top: 15px;
  padding-bottom: 30px;
}

.next {
  font-size: 15px;
  color: white;
  background-color: rgb(204, 0, 133);
  border: none;
  border-radius: 10px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
}
